/**
* Stylesheet for app here
*/
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css";
body {
  text-align: center;
}
.app {
  max-width: 80%;
  margin: auto;
  text-align: left;
}

.unorder-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.unorder-list li {
  display: inline-block;
  padding-right: 10px;
}

.unorder-list li.active, .unorder-list li.active a {
  color: green;
}

.is-completed  {
  text-decoration: line-through;
  color: gray;
}
